*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}
.main_menu{
    background-color:#13206b;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
    
.row{
    margin: 0;
}
 
                                 /* Navbar style */

.navbar{
    background-color:#13206b;
    margin : 1.5rem;

    

}
.navbar a{
    color: white;
    font-size: 1.8rem;
}
.navbar a:hover{
    color: yellow;
}
.navbar li {
    margin-left: 2rem; 
}

.navbar-toggler-icon{
    background-color:white;
    color: rgb(238, 238, 231);
}



                                   /* Header left */
.header-left{
 height: 60rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-transform: capitalize;
 align-items: flex-start;
}


.header-left h1{
    font-size: 2.6rem;
    margin:1rem 0 5rem 0;
    
}
.header-left p {
    font-size: 2.6rem;
}
.header-left .txt{
    color: rgb(75, 174, 212)
}

.btn{
    outline: none;
    background: rgb(75, 174, 212);
    border-radius: 3rem;
    padding: 0.6rem 1rem;
    color: white;
    font-size: 1.6rem;
}
.btn :hover{
    filter: drop-shadow(drop-shadow(0 0.5rem 1rem white));
    color: yellow;
  
}
 


                        /* Header right in which we have crousal */

.header-right{
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}   



                            /* Styling temp form  */

.temp_form{
    width: 70%;
    position: relative;
    margin: 10rem auto 6rem;
    background-color : black;
    border-radius: 0.5rem;
}


.no{
    width: 100%;
    padding: 2rem 5rem 2rem 1rem;
    color:white;
    background-color: black;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
    font-family: 'Raleway', sans-serif;
} 

::placeholder{
    color:white;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    outline: none;
    background:rgb(248, 248, 5);
    border-radius: 0.5rem;
    padding: 0 3rem;
    color: black;
    font-size: 1.6rem;
    font-weight:500;
}

/* .temp_form input [type="submit"] :hover{
    background-color: rgb(12, 12, 11);
    color: red;
} */

#submitbtn  :hover{
    color: red;
    
    
}
.tempInformation{
    /* border: 3px solid red; */
    width: 85rem;
    margin: auto;
    min-height: 20rem;
    background-color: #13206b;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace; 
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color: 2e6376;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.top_layer p{
    color: yellow;
    font-weight: 700;
    padding: 2rem;
    font-size: 2.3rem;
    font-family: 'Raleway', sans-serif;   

    
}
.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color:white;
    font-family: 'Raleway', sans-serif;   
    padding: 2rem;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;

}

.main_layer #city_name{
    padding: 1rem 0;
    color:gray;
    font-family: 'Raleway', sans-serif;   
    font-weight: 800;
    font-size: 3.1rem;
}
.main_layer .middle_layer {
    display: flex;
    margin-top: 4rem;
    color:black;

}


.main_layer .middle_layer p{
    font-size: 4rem;
    font-weight:bold;
    margin-right:4rem;
 
}

sup{
    color:black;
    font-size: 6rem;
    margin-top: -2rem;

}
.data_hide{
    visibility:hidden;
    transition: all 0.3s linear;
}





                         /* styling bottom. */


  .f {
    display: flex;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    margin-top: 15rem;
    background-color:#13206b;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .f p{
      text-transform: capitalize;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 2rem;
      
  }


  

.carousel-item img{
    height: 40rem;
}

.header-right img{
    filter: drop-shadow(0 0.5rem 1rem black);
}



.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logout{
    margin-top: 10rem;
}


@media (max-width:768px){
    .navbar-brand{
        margin-left:2rem ;
    }
    .header-left{
        height: auto;
        margin: 5rem 0;

    }
    .header-right{
        height: auto;
        margin-top: 5rem ;

    }
    .tempInformation{
        width: auto;
    }
  }

